<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277344855704-vfi7q0f1i9df5br4jiqp8b0q6q2gjc3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277344855704-vfi7q0f1i9df5br4jiqp8b0q6q2gjc3r</string>
	<key>API_KEY</key>
	<string>AIzaSyD5VXdlGQveE8lAUPzJeLbKL3XG6q22Co0</string>
	<key>GCM_SENDER_ID</key>
	<string>277344855704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coriander3</string>
	<key>PROJECT_ID</key>
	<string>coriander3-18e71</string>
	<key>STORAGE_BUCKET</key>
	<string>coriander3-18e71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277344855704:ios:c3be489ddef0d9951012ed</string>
</dict>
</plist>